.sectiona {
    @include section-gray;
    h1 {
        font-size: 3rem;
      }
      .container {
        .product {
            img {
                width: 5%;
            }
        }
      }
  }

  .image-sectiona {
    img {
        max-width: 40%;
      }
  }

  
  

  